html, body {
  margin:0; /* remove default margin */
  padding:0; /* remove default padding */
  width:100vw; /* take full browser width */
  min-height:100vh; /* take full browser height*/
  overflow: hidden;
}

