#escritores {
    max-width: 720px;
    position: relative;
    top: -30px;
    z-index: -2;
}
.writer-1 {
    isolation: isolate;
}

.writer-2 {
    fill: #f1f3fa;
}

.writer-3 {
    fill: #d9dcf1;
}

.writer-4 {
    fill: #c7cce9;
}

.writer-5 {
    fill: #fff;
}

.writer-6 {
    fill: #8794ca;
}

.writer-7 {
    fill: #abb1d6;
}

.writer-8 {
    fill: none;
stroke: #d4d7d8;
stroke-linecap: round;
stroke-linejoin: round;
}

.writer-9 {
    fill: #393f5c;
}

.writer-10, .writer-20 {
    fill: #d4d7d8;
mix-blend-mode: multiply;
}

.writer-10 {
    opacity: 0.44;
}

.writer-11 {
    fill: #383838;
}

.writer-12 {
    fill: #1d5c75;
}

.writer-13 {
    fill: #1c6186;
}

.writer-14 {
    fill: #ecb48d;
}

.writer-15 {
    fill: #e3a132;
}

.writer-16 {
    fill: #f4f9fe;
}

.writer-17 {
    fill: #f2be9a;
}

.writer-18 {
    fill: #f1af74;
}

.writer-19 {
    fill: #505977;
}

.writer-20 {
    opacity: 0.12;
}