.fondo-1 {
    fill: #b2ced3;
}

.fondo-2 {
    fill: #8ab5e1;
}

.fondo-3 {
    fill: #518ac9;
}

.fondo-4 {
    fill: #b88126;
}

.fondo-5 {
    fill: none;
    stroke: #d4d7d8;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.49px;
}

.fondo-6 {
    fill: #fff;
}